@model IEnumerable<BarcelonaNomads.Models.Location>

@{
    ViewData["Title"] = "All locations";
}
<div class="row g-2">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("./Components/_Card.cshtml", item)
        ;
    }
</div>
