@model IEnumerable<BarcelonaNomads.Models.Location>

@{
    ViewData["Title"] = "All locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Add a new location for others to see!</a>
</p>
<div class="row g-2">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("./Components/_Card.cshtml", item)
        ;
    }
</div>
